--- Create a database named EF.Json under localDb.
USE [EF.Json]
GO
/****** Object:  Table [dbo].[Person]    Script Date: 12/21/2024 4:27:39 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Person](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[FirstName] [nvarchar](max) NOT NULL,
	[LastName] [nvarchar](max) NOT NULL,
	[DateOfBirth] [datetime] NOT NULL,
	[Addresses] [nvarchar](max) NULL,
 CONSTRAINT [PK_Person] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Person] ON 
GO
INSERT [dbo].[Person] ([ID], [FirstName], [LastName], [DateOfBirth], [Addresses]) VALUES (1, N'Karen', N'Payne', CAST(N'1956-09-24T00:00:00.000' AS DateTime), N'[{"City":"Ambler","AddressType":"Home","Street":"123 Apple St"},{"City":"Portland","AddressType":"Shipto","Street":"999 34th St"}]')
GO
INSERT [dbo].[Person] ([ID], [FirstName], [LastName], [DateOfBirth], [Addresses]) VALUES (2, N'Bill', N'Jones', CAST(N'1960-04-24T00:00:00.000' AS DateTime), N'[{"City":"Salem","AddressType":"Home","Street":"34 Pine St"},{"City":"Portland","AddressType":"Shipto","Street":"987 24th St"}]')
GO
INSERT [dbo].[Person] ([ID], [FirstName], [LastName], [DateOfBirth], [Addresses]) VALUES (3, N'John', N'Gallager', CAST(N'1980-01-01T00:00:00.000' AS DateTime), N'[{"Street":"123 Main St","City":"Any town","AddressType":"Home"},{"Street":"456 Elm St","City":"Other town","AddressType":"Shipto"}]')
GO
SET IDENTITY_INSERT [dbo].[Person] OFF
GO
USE [master]
GO
